@import url('https://rsms.me/inter/inter.css');
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

:root {
  --accent: #19896f;
  --accent-low: #19896f2f;
  --accent-dark: #126451;
  --text: #eeeff1;
  --label: #8a8b8e;

  --surface: #313236;
  --surface-hover: rgb(62, 62, 66);
  --divider: #2d2e31;
  --base: #1f2022;
  --base-low: #1f20222a;
  --overflow: #101015;

  --border-radius: 15px;
  --error: #a70450;

  --font: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;

  --weight: 400;
  --weight-bold: 500;
  --weight-extrabold: 700;

  --shadow-small: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  --shadow-large: 0 8px 30px rgba(0, 0, 0, 0.1);

  --radius-small: 4px;
  --radius: 8px;
  --radius-large: 4px;

  --gap-small: 0.75rem;
  --gap: 1.5rem;
  --gap-large: 3rem;

  --transition: 200ms ease-in-out;
  --transition-colors: color 50ms ease-in-out,
    background-color var(--transition), border-color var(--transition);
}

.light {
  --accent: #19896f;
  --text: #282828;
  --label: #6a6b6e;
  --surface: #efefef;
  --surface-hover: #ffffff;
  --divider: #eaeaea;
  --base: #fefefe;
  --base-low: #fefefe2a;
  --overflow: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  max-height: 100%;
}

body {
  color: var(--text);
  font-family: var(--font);
  font-weight: var(--weight);
  background: var(--base);
  transition: var(--transition-colors);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.button {
  color: whitesmoke;
  font-family: var(--font);
  font-weight: var(--weight);
  background: var(--base);
  padding: 15px;
  border-radius: 15px;
  background: var(--accent);
  transition: var(--transition-colors);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  transition: all 0.3s;
  text-decoration: none;
  cursor: pointer;
  border: solid 1px var(--accent);
}

.button:hover {
  background: var(--accent-dark);
}

.button:disabled,
.button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

input[type='text'],
input[type='password'],
input[type='search'],
textarea {
  border: 0px !important;
  color: var(--text);
  padding: var(--gap-small);
  background: var(--base);
  display: flex;
  align-items: center;
  transition: var(--transition-colors);
  border-color: var(--divider);
  border: 1px solid;
  border-radius: var(--border-radius);
  background-color: var(--surface);
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  font-size: inherit;
  line-height: 1;
  font-family: inherit;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  -webkit-appearance: none;
  margin: 0px;
  padding: 16px 16px 16px 16px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
}

input:focus,
textarea:focus {
  outline: 0px;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px var(--accent);
}

input[type='search']::before {
  font-family: 'Inter';
  position: relative;
  left: -5px;
  content: ' \e9c1';
}

input:disabled {
  color: var(--accent-dark);
}

input[type='text']:hover,
input[type='password']:hover {
  background-color: var(--surface-hover);
}

input:-webkit-autofill {
  color: var(--text);
  font-family: inherit;
  -webkit-text-fill-color: var(--text);
  -webkit-text-size-adjust: 20px;
  -webkit-box-shadow: 0 0 0 50px var(--surface) inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px var(--surface-hover) inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-family: inherit;
  color: var(--text);
  border: 0px solid var(--accent-low);
  -webkit-text-fill-color: var(--text);
  -webkit-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0, 0) inset;
  transition: background-color 1300ms ease-in-out 0s;
} */

/* textarea {
  color: var(--text);
  padding: var(--gap-small);
  background: var(--base);
  display: flex;
  align-items: center;
  transition: var(--transition-colors);
  border-color: var(--divider);
  border: 1px solid;
  border-radius: 15px;
  background-color: var(--surface);
} */

.bottombtn {
  display: block;
  max-width: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

textarea:hover {
  background-color: var(--surface-hover);
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: 1.5;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;
}

/* custom styles for datepicker */

.datepicker.default {
  margin-bottom: 72px;
  position: fixed;
}

.datepicker.default .datepicker-header {
  color: var(--accent) !important;
}

.datepicker.default .datepicker-wheel {
  border-top: 1px solid var(--accent) !important;
  border-bottom: 1px solid var(--accent) !important;
}

.datepicker.default .datepicker-navbar-btn {
  color: var(--accent) !important;
}

.datepicker.default {
  background-color: var(--surface) !important;
}

.datepicker.default .datepicker-scroll li {
  color: var(--text) !important;
}

.datepicker-modal {
  position: fixed !important;
  z-index: 99990 !important;
}

/* modal */

.modal {
  z-index: 999;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--surface);
  border-radius: var(--border-radius);
  padding: 10px;
}

/* calander */

.fc-time-grid tbody {
  padding-bottom: 150px !important;
}

hr {
  opacity: 0.5;
  margin: 30px;
}

/* select */

.select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  appearance: none;
  border: 0px !important;
  color: var(--text);
  background: var(--base);
  display: flex;
  align-items: center;
  transition: var(--transition-colors);
  border-color: var(--divider);
  border-radius: var(--border-radius);
  background-color: var(--surface);
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  font-size: inherit;
  font-family: inherit;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  -webkit-appearance: none;
  margin: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  outline: 0px;
}

.select-css select {
  width: 100%;
  padding: 15px;
}

.select-css::-ms-expand {
  display: none;
}

.select-css:hover {
  border-color: #888;
}

.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.select-css option {
  font-weight: normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir='rtl'] .select-css,
:root:lang(ar) .select-css,
:root:lang(iw) .select-css {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

/* Disabled styles */
.select-css:disabled,
.select-css[aria-disabled='true'] {
  color: graytext;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.select-css:disabled:hover,
.select-css[aria-disabled='true'] {
  border-color: #aaa;
}
