@import url('https://rsms.me/inter/inter.css');
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

:root {
  --accent: #19896f;
  --accent-low: #19896f2f;
  --accent-dark: #126451;
  --text: #eeeff1;
  --label: #8a8b8e;

  --backdrop: rgba(10, 10, 10, 0.75);

  --surface: #313236;
  --surface-hover: rgb(62, 62, 66);
  --divider: #2d2e31;
  --base: #1f2022;
  --base-low: #1f20222a;
  --overflow: #101015;

  --border-radius: 15px;
  --error: #a70450;

  --font: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;

  --weight: 400;
  --weight-bold: 500;
  --weight-extrabold: 700;

  --shadow-small: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  --shadow-large: 0 8px 30px rgba(0, 0, 0, 0.1);

  --radius-small: 4px;
  --radius: 8px;
  --radius-large: 4px;

  --gap-small: 0.75rem;
  --gap: 1.5rem;
  --gap-large: 3rem;

  --transition: 200ms ease-in-out;
  --transition-colors: color 50ms ease-in-out,
    background-color var(--transition), border-color var(--transition);
}

.light {
  --accent: #19896f;
  --text: #282828;
  --label: #6a6b6e;
  --surface: #efefef;
  --surface-hover: #ffffff;
  --divider: #eaeaea;
  --base: #fefefe;
  --base-low: #fefefe2a;
  --overflow: #fff;
  --backdrop: rgba(230, 230, 230, 0.);
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  max-height: 100%;
}

body {
  color: var(--text);
  font-family: var(--font);
  font-weight: var(--weight);
  background: var(--base);
  transition: var(--transition-colors);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.button {
  color: whitesmoke;
  font-family: var(--font);
  font-weight: var(--weight);
  background: var(--base);
  padding: 15px;
  border-radius: 15px;
  background: var(--accent);
  transition: var(--transition-colors);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  transition: all 0.3s;
  text-decoration: none;
  cursor: pointer;
  border: solid 1px var(--accent);
}

.button:hover {
  background: var(--accent-dark);
}

.button:disabled,
.button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

input[type='text'],
input[type='password'],
input[type='search'],
textarea {
  border: 0px !important;
  color: var(--text);
  padding: var(--gap-small);
  background: var(--base);
  display: flex;
  align-items: center;
  transition: var(--transition-colors);
  border-color: var(--divider);
  border: 1px solid;
  border-radius: var(--border-radius);
  background-color: var(--surface);
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  font-size: inherit;
  line-height: 1;
  font-family: inherit;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  -webkit-appearance: none;
  margin: 0px;
  padding: 16px 16px 16px 16px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
}

input:focus,
textarea:focus {
  outline: 0px;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px var(--accent);
}

input[type='search']::before {
  font-family: 'Inter';
  position: relative;
  left: -5px;
  content: ' \e9c1';
}

input:disabled {
  color: var(--accent-dark);
}

input[type='text']:hover,
input[type='password']:hover {
  background-color: var(--surface-hover);
}

input:-webkit-autofill {
  color: var(--text);
  font-family: inherit;
  -webkit-text-fill-color: var(--text);
  -webkit-text-size-adjust: 20px;
  -webkit-box-shadow: 0 0 0 50px var(--surface) inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px var(--surface-hover) inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-family: inherit;
  color: var(--text);
  border: 0px solid var(--accent-low);
  -webkit-text-fill-color: var(--text);
  -webkit-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0, 0) inset;
  transition: background-color 1300ms ease-in-out 0s;
} */

/* textarea {
  color: var(--text);
  padding: var(--gap-small);
  background: var(--base);
  display: flex;
  align-items: center;
  transition: var(--transition-colors);
  border-color: var(--divider);
  border: 1px solid;
  border-radius: 15px;
  background-color: var(--surface);
} */

.bottombtn {
  display: block;
  max-width: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

textarea:hover {
  background-color: var(--surface-hover);
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: 1.5;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;
}

/* custom styles for datepicker */

.datepicker.default {
  margin-bottom: 72px;
  position: fixed;
}

.datepicker.default .datepicker-header {
  color: var(--accent) !important;
}

.datepicker.default .datepicker-wheel {
  border-top: 1px solid var(--accent) !important;
  border-bottom: 1px solid var(--accent) !important;
}

.datepicker.default .datepicker-navbar-btn {
  color: var(--accent) !important;
}

.datepicker.default {
  background-color: var(--surface) !important;
}

.datepicker.default .datepicker-scroll li {
  color: var(--text) !important;
}

.datepicker-modal {
  position: fixed !important;
  z-index: 99990 !important;
}

/* modal */

.modal {
  z-index: 999;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--surface);
  border-radius: var(--border-radius);
  padding: 10px;
  padding-top: env(safe-area-inset-top, 20px);
}

/* calander */

.fc-time-grid tbody {
  padding-bottom: 150px !important;
}

.fc-row {
  height: 100% !important;
}

.fc-view-container {
  max-height: 100% !important;
  min-height: 100% !important;
}

hr {
  opacity: 0.5;
  margin: 30px;
}

.categories-overlay {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
}

.displaynone {
  display: none;
}

/*  modal */

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: var(--base);
  z-index: 11;
  padding: var(--gap-small);
  border-radius: var(--border-radius);
  min-width: 280px;
  height: fit-content;

}

.Modal h4 {
  float: left;
  margin: 0;
}

.Modal ul {
  margin-top: 30px;
}

.Modal li {
  margin-top: var(--gap-small);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--backdrop);
  background-color: rgba(10, 10, 10, 0.75);
  z-index: 10;
}

.close-modal {
  float: right;
  margin: 5px;
}